<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Register Page</title>
  </head>
  <body>
    <div class="container">
        <h1>Register</h1>
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="/register">
                    <div class="form-group">
                        <label for="u_name">Name</label>
                        <input type="text" class="form-control" id="u_name" name="userName" required placeholder="Provide Your Name*">
                    </div>
                    <div class="form-group">
                        <label for="u_email">Email</label>
                        <input type="email" class="form-control" id="u_email" name="userEmail" required placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <label for="u_password" >Password</label>
                        <input type="password" class="form-control" id="u_password" name="userPassword" required placeholder="Provide Password*">
                    </div>
                    <div class="form-group">
                        <label for="u_confirm_password" >Confirm Password</label>
                        <input type="password" class="form-control" id="u_confirm_password" name="userConfirmPassword" required placeholder="Confirm Password*">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
  </body>
</html>